<div class="tasks-container">

  <div *ngFor="let item of cards" class="tasks-wrap" >
    <div class="item-text">{{ item.text | titlecase }}</div>
  </div>
  
  <div class="icon-container">
  
    <button mat-icon-button>
      <mat-icon class="icon">favorite</mat-icon>
    </button>
    <span></span>
  
    <button mat-icon-button class="comment-btn">
      <mat-icon class="icon">comment</mat-icon>
    </button>
    <span></span>
  
    <button mat-icon-button class="icon-delete">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
  
  <div>
    <mat-form-field class="form-field">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput></textarea>
      <button
        mat-button
        matSuffix
        mat-icon-button
        color='primary'
        class="icon-confirm"
      >
        <mat-icon>done</mat-icon>
      </button>
    </mat-form-field>
  
    <ng-content></ng-content>
  </div>

  
</div>

