<div class="tasks-container">

  <div *ngFor="let item of cards" class="tasks-wrap" >
    <div class="item-text">{{ item.text }}</div>
  </div>
  
  <div class="icon-container">
  
    <button mat-icon-button (click)='addFavorite(item)'>
      <mat-icon class="icon">
        {{fav ? 'favorite' : 'favorite_border'}}
      </mat-icon>
    </button>
    <span></span>
  
    <button
      mat-icon-button class="comment-btn" (click)="open=!open">
      <mat-icon class="icon">comment</mat-icon>
    </button>
  </div>

</div>
