<div class="wrap">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">        
        <span class="name logo"><a [routerLink]="['/']">Retro Board</a></span>
      </div>
      <button [routerLink]="['/login']" mat-button *ngIf="!auth.isAuthenticated()">Login</button>
      <button mat-button (click)="logout($event)" *ngIf="auth.isAuthenticated()">Logout</button>
    </div>
  </div>
  <div class="board">  
    <button mat-fab *ngIf="auth.isAuthenticated()">+Add</button>    
    <!-- <app-dialog><button mat-fab>+Add</button></app-dialog> -->
  </div>

  <div class="board-wrap">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor='let column of board.columns'>
        <h2 class="column-title">{{column.name | titlecase}}</h2>
        <div class="tasks"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor='let item of column.tasks' cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>
  </div>
</div>