<div class="wrap">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <span class="name logo"><a [routerLink]="['/']">Retro Board</a></span>
      </div>
      <button [routerLink]="['/login']" mat-button *ngIf="!auth.isAuthenticated()">Login</button>
      <button mat-button (click)="logout($event)" *ngIf="auth.isAuthenticated()">Logout</button>
    </div>
  </div>
  <div class="board">
    <app-dialog (emitText)="addColumn($event)">
      <button mat-fab>+Add</button>
    </app-dialog>
    
  </div>

  <div class="board-wrap">
    <div cdkDropListGroup class="board-columns">
      <div class="board-column" *ngFor="let column of homepageService.getBoard$() | async">
        <div class="column-title-wrap">
          <h2 class="column-title">{{column.title | titlecase}}<sup>
            <a (click)='deleteColumn(column.id, column)'>
              <mat-icon>delete_outline</mat-icon>
            </a></sup>
          </h2>
          
          <app-dialog (emitText)="onAddCard($event, column.id)" 
            [question]="'Add new card in ' + column.title + ' column'">
            <button mat-fab class="add-task-btn">+Task</button>
          </app-dialog>
        </div>

        <div
        cdkDropList
        [cdkDropListData]="column.list"
        (cdkDropListDropped)="drop($event)"
      >

          <div cdkDrag class="task" 
            *ngFor='let item of column.list'>
            <!-- {{item.text}} -->
            <app-tasks [item]="item">
              <div *ngFor='let comment of item.comments'>
                <app-comment [comment]="comment"></app-comment>
              </div>
            </app-tasks>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>